@model Rinsen.IdentityProviderWeb.Models.IdentityModel
@{
    ViewBag.Title = "Rinsen.se";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("_IdentityDetails", Model);
    }
    else
    {
        await Html.RenderPartialAsync("_LoginAndCreateIdentityForms", Model);
    }
</div>