@if (User.Identity.IsAuthenticated)
{
    if (User.HasClaim(m => m.Type == "http://rinsen.se/Administrator"))
    {
        @Html.ActionLink("Manage external applications", "Index", "ExternalApplications")
    }
    @User.Identity.Name
}
else
{
    <div>@Html.ActionLink("Login", "Login", "Identity")</div>
}
